<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand"></a>
  <a class="navbar-brand" href="InicioAdmin">
    <img
      src="https://static-00.iconduck.com/assets.00/user-icon-2048x2048-ihoxz4vq.png"
      alt="Avatar Logo"
      style="width: 35px"
      class="rounded-pill"
    />
  </a>
  <a class="navbar-brand">Admin</a>
  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="Revistas()">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="PrecioRevista()"> Precio Global Revistas </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="dropdown" (click)="Anuncios()">
          Anuncios
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="PrecioAnuncio()"> Precio Global Anuncios </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Reportes()"> Reportes </a>
      </li>
    </ul>
  </div>
  <app-cerrar-sesion></app-cerrar-sesion>
</nav>
<router-outlet></router-outlet>
<div *ngIf="revistas">
  <app-lista-espera></app-lista-espera>
  <app-lista-aprobadas></app-lista-aprobadas>
</div>
<div *ngIf="anuncios">
  <app-ver-anuncios></app-ver-anuncios>
  <app-anuncios-aprobados></app-anuncios-aprobados>
</div>
<div *ngIf="reportes">
  <app-reporte-admin></app-reporte-admin>
</div>
<div *ngIf="precioAnuncio">
  <app-precio-anuncio></app-precio-anuncio>
</div>
<div *ngIf="precioRevista">
  <app-precio-revista></app-precio-revista>
</div>
