
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP REVISTAS</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header class="header-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" >APP REVISTAS</a>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary" routerLink="/InicioSesion" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio de sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary" routerLink="/Registro" routerLinkActive="active" ariaCurrentWhenActive="page">Registrarse</a>
                        </li>
                    </ul>                        
                </div>
            </nav>

        </div>
    </header>
</body>
<router-outlet></router-outlet>
