<app-inicio></app-inicio>
<div class="container p-5 shadow my-5" style="width: 300px; height: 400px">
  <form class="form-validate" [formGroup]="validarForm" (ngSubmit)="onSubmit()">
    <div class="text-center">
      <h1 class="h3 mb-3 fw-normal">Iniciar Sesión</h1>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Usuario</label>
      <input
        class="form-control"
        formControlName="nombreUsuario"
        placeholder="Ingrese su usuario"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Contraseña</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Ingrese su Contraseña"
      />
    </div>
    <div class="p-2">
      <button class="w-100 btn btn-lg btn-primary" type="submit">
        Ingresar
      </button>
    </div>
  </form>
</div>
